Test_Bot.txt
Operational.txt
Beta.txt
__pycache__/Core.cpython-37.pyc
__pycache__
*.txt
*.tx
*.pyc
*.err
*.out
/.idea/.gitignore
/.idea/DaniuuBot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea
*.log
/www/Python/venv/*
/www/Python/venv/
/www/.idea/
/www/*
/Userspace/TB2.txt
/Archiver/Write_JSON_settings.py
/Archiver/Configuration.json
/Archiver/Core.py
/CVN_Watchlist/Core.py
/Request_patroller/Core.py
/Userspace/Core.py
/Vote_checker/Core.py
/Archiver/nldate_utils.py
/CVN_Watchlist/nldate_utils.py
/Request_patroller/nldate_utils.py
/Userspace/nldate_utils.py
/Vote_checker/nldate_utils.py
/Maintenance/nldate_utils.py
/Maintenance/Core.py
