Test_Bot.txt
Operational.txt
Beta.txt
__pycache__/Core.cpython-37.pyc
__pycache__
*.txt
*.tx
*.pyc
*.err
*.out
/.idea/.gitignore
/.idea/DaniuuBot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea
*.log
/www/Python/venv/*
/www/Python/venv/
/www/.idea/
/Userspace/TB2.txt